
<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-brand-linkedin bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Linkden Clicks</span>
        <h4>{{linkdenValue}}</h4>
        <div>
        <span class="f-left m-t-10 text-muted">
          <div [hidden]="linkdenIncrease"><i class="icofont icofont-long-arrow-down text-c-grey f-28 "></i> No Increase since last month</div>
              <div [hidden]="!linkdenIncrease"><i class="icofont icofont-long-arrow-up text-c-grey f-28 "></i> Increase since last month</div>
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-social-instagram bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">Instagram Clicks</span>
        <h4>{{instagramValue}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <div [hidden]="instagramIncrease"><i class="icofont icofont-long-arrow-down text-c-grey f-28 "></i> No Increase since last month</div>
            <div [hidden]="!instagramIncrease"><i class="icofont icofont-long-arrow-up text-c-grey f-28 "></i> Increase since last month</div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-social-facebook bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Facebook Clicks</span>
        <h4>{{facebookValue}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <div [hidden]="facebookIncrease"><i class="icofont icofont-long-arrow-down text-c-grey f-28 "></i> No Increase since last month</div>
            <div [hidden]="!facebookIncrease"><i class="icofont icofont-long-arrow-up text-c-grey f-28 "></i> Increase since last month</div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
        <span class="text-c-yellow f-w-600">Twitter Clicks</span>
        <h4>{{twitterValue}}</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <div [hidden]="twitterIncrease"><i class="icofont icofont-long-arrow-down text-c-grey f-28 "></i> No Increase since last month</div>
            <div [hidden]="!twitterIncrease"><i class="icofont icofont-long-arrow-up text-c-grey f-28 "></i> Increase since last month</div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->
  
  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Total Views'">
        <div id="line-example" class="line-example">
          <div id="statistics-chart" style="height:300px;"></div>
        </div>
    </app-card>
  </div>

  <!-- Statistics End -->

  <!-- Statistics card start -->
  <div class="col-md-12 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Total Member Requests</h5>
          <p class="p-t-10 m-b-0 text-c-blue">Total Member Requests To Date</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-users-social st-icon bg-c-blue"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{totalNumberOfMemberRequests}}</h3>
        </div>

      </div>
    </div>
  </div>
  <!-- Statistics card end -->
  <div class="col-md-6 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>Accepeted Requests</h5>
            <p class="p-t-10 m-b-0 text-c-green">Total Member Requests Accepted</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-ui-check st-icon bg-c-green"></i>
  
          <div class="text-left">
            <h3 class="d-inline-block">{{totalNumberOfMemberAccepts}}</h3>
          </div>
        </div>
      </div>
    </div>
  <!-- Statistics card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Declined Requests</h5>
          <p class="p-t-10 m-b-0 text-c-pink">Total Member Requests Declined</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-ui-close st-icon bg-c-pink txt-lite-color"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{totalNumberOfMemberRejects}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col align-self-center col-md-6 col-xl-4">
      <div class="card widget-card-1">
          <div class="card-block-small">
            <i class="icofont icofont-web bg-c-red card1-icon"></i>
            <span class="text-c-red f-w-600">Company Website Views</span>
            <h4>{{websiteValue}}</h4>
            <div>
              <span class="f-left m-t-10 text-muted">
                <div [hidden]="websiteIncrease"><i class="icofont icofont-long-arrow-down text-c-grey f-28 "></i> No Increase since last month</div>
                <div [hidden]="!websiteIncrease"><i class="icofont icofont-long-arrow-up text-c-grey f-28 "></i> Increase since last month</div>
              </span>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-8">
        <div class="card widget-card-1">
            <div class="card-block-small">
              <i class="fa fa-thumbs-up bg-c-purple card1-icon"></i>
              <span class="text-c-purple f-w-600">Followers</span>
<br />
<br />
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
      <div>
        <label class="label-control">Show
          <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
          entries
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div style="text-align: right;">
        <label>Search:
          <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
        </label>
      </div>
    </div>
  </div>
  <!-- <div class="panel-heading">User information</div>-->
  <div style="max-height: 250px" class="table-responsive">
    <table class="table table-striped table-hover table-inverse table-bordered full-data-table" [mfData]="this.followers" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
      <tr>
        <th style="text-align: center">
          <mfDefaultSorter  by="username">Username</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter>Action</mfDefaultSorter>
        </th>
      </tr>
      <tr>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data | DashboardSearchPipe : filterQuery">
        <td style="text-align: center">{{item}}</td>
        <td ngbDropdown>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></button>
          <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-right b-none contact-menu">
            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>View</a>
            <a class="dropdown-item" style="background-color: #11c15b" href="javascript:;"><i class="icofont icofont-thumbs-up"></i>Follow</a>
            <!-- <a class="dropdown-item" style="background-color: #FC6180"href="javascript:;"><i class="icofont icofont-thumbs-down"></i>Unfollow</a> -->
          </div>
          
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <mfBootstrapPaginator style="color: black" class="pagination-main f-right"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>






              <!-- <div class="table-responsive" style="max-height: 250px">
                  <table id="example" class="table table-striped table-hover table-inverse">
                    <thead>
                      <tr >
                        <th scope="col"  style="text-align: center">Username</th>
                        <th scope="col"  style="text-align: center">First Name</th>
                        <th scope="col"  style="text-align: center">Last Name</th>
                        <th scope="col"  style="text-align: center">Location</th>
                        <th scope="col" style="text-align: center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  style="text-align: center">

                        <td>Wade</td>
                        <td>Wade</td>
                        <td>Martin</td>
                        <td>Pretoria</td>
                        <td style="text-align: center"><button class="btn btn-primary btn-round" pTooltip="View User Profile" tooltipPosition="top"><i class="icofont icofont-user-search"></i></button></td>
                      </tr>
                      <tr  style="text-align: center">

                          <td>Wade</td>
                          <td>Wade</td>
                          <td>Martin</td>
                          <td>Pretoria</td>
                          <td style="text-align: center"><button class="btn btn-primary btn-round" pTooltip="View Members Profile" tooltipPosition="top"><i class="icofont icofont-info-circle"></i></button></td>
                        </tr>
                        <tr  style="text-align: center">

                            <td>Wade</td>
                            <td>Wade</td>
                            <td>Martin</td>
                            <td>Pretoria</td>
                            <td style="text-align: center"><button class="btn btn-primary btn-round" pTooltip="View Members Profile" tooltipPosition="top"><i class="icofont icofont-info-circle"></i></button></td>
                          </tr>
                          <tr  style="text-align: center">

                              <td>Wade</td>
                              <td>Wade</td>
                              <td>Martin</td>
                              <td>Pretoria</td>
                              <td style="text-align: center"><button class="btn btn-primary btn-round" pTooltip="View Members Profile" tooltipPosition="top"><i class="icofont icofont-info-circle"></i></button></td>
                            </tr>
                      
                    </tbody>
                  </table>
                 </div> -->


            </div>
          </div>
      </div>
  <!-- Statistics card end -->
  <!-- Statistics card start -->
 
  <!-- Statistics card end -->
