<div class="row">
  <div class="col-sm-12">
    <app-card>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Search for a Start-Up</h2>
                    <div class="row">
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="search" [(ngModel)]="filterQuery" class="form-control form-control-success" placeholder="Type a startup name,location or category">
                                       
                                    </div>
                    </div>
                </div>
                </div>
            </div>


            
        </div>
    </app-card>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <app-card>
        <div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                  <label class="label-control">Show
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select>
                    Entries
                  </label>
                </div>
              </div>
            </div>
            <!-- <div class="panel-heading">User information</div>-->
            <div class="table-responsive">
              <table class="table table-fixed table-striped table-hover table-inverse full-data-table" [mfData]="datas" #mf="mfDataTable"
                     [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th>
                        <mfDefaultSorter  by="img"></mfDefaultSorter>
                      </th>
                  <th>
                    <mfDefaultSorter  by="startupName"></mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="description"></mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="category"></mfDefaultSorter>
                  </th>

                  <th>
                      <mfDefaultSorter  by="action"></mfDefaultSorter>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data | SearchPipe : filterQuery">
                  <td><img src="../../../assets/images/work.jpg" style="height: 200px; width: 400px" alt="no logo"> </td>
                  <td><h4>{{item.companyName}}</h4></td>
                  <td><p>{{item.location}}</p></td>
                  <td><p>{{item.expertises}}</p></td>
                  <td ngbDropdown>
                    <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none contact-menu">
                      <a class="dropdown-item" [routerLink]="['/startup',item.companyName]"><i class="icofont icofont-eye-alt"></i>View</a>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7">
                    <mfBootstrapPaginator style="color: black" class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
    </app-card>
  </div>
</div>
